@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/vaimo-mountains.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.modal-container {
  height: 75%;
  width: 80%;
  max-width: 1200px;
  min-height: 500px;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
  border: #333333 2px solid;
  border-radius: 8px;
  box-shadow: 1px 0px 20px rgba(151, 149, 149, 0.8),
    0px 10px 5px rgba(151, 149, 149, 0.1);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(37, 37, 37, 0.9);
  padding: 25px 15px 15px 15px;
  color: rgb(219, 217, 217);
}

.title {
  margin: 0 0 25px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px #000;
  font-style: italic;
  font-size: 22px;
}

.leaderboard-time-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 350px;
  overflow-y: auto;
}

.user-position-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  gap: 10px;
  width: 100%;
  border-bottom: #fabf2b 1px solid;
}

.user-img {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}

.user-time {
  margin-left: auto;
  padding-right: 10px;
}

.time-form {
  margin-top: 25px;
  width: 100%;
  max-width: 400px;
  border-bottom: #fabf2b 1px solid;
}

.time-form span {
  font-size: 20px;
}

select {
  font-family: "Kdam Thmor Pro", sans-serif;
  width: auto;
  height: 30px;
  border-radius: 8px;
  background-color: #fabf2b;
  font-size: 12px;
  border: 2px solid #333333;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
}

select:focus {
  outline: none;
  background-color: #333333;
  color: #fabf2b;
  border-color: #fabf2b;
}

option {
  background-color: #fabf2b;
  color: #000;
}

.user-select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}

.enter-time-title {
  margin: 15px 0 10px 0;
  font-weight: 400;
}

input[type="number"] {
  font-family: "Kdam Thmor Pro", sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  text-shadow: -0.01em -0.01em 0.01em #000;
  background-color: #fabf2b;
  font-size: 12px;
  transition: all ease-in-out 0.15s;
  cursor: text;
  border: 2px solid #333333;
  padding-left: 10px;
  box-sizing: border-box;
}

input[type="number"]::placeholder {
  color: #000;
  font-size: 12px;
}

input[type="number"]:focus {
  outline: none;
  background-color: #333333;
  color: #fabf2b !important;
  border-color: #fabf2b;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.time-button-container {
  margin-top: 15px;
}

.fa-circle-left {
  padding-right: 5px;
}

button {
  font-family: "Kdam Thmor Pro", sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  text-shadow: -0.01em -0.01em 0.01em #000;
  background-color: #fabf2b;
  font-size: 14px;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
  border: 2px solid #333333;
}

.back-reset-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  align-items: end;
}

button:hover {
  background-color: #333333;
  color: #fabf2b;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #fabf2b;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(219, 217, 217);
}

@media (min-width: 600px) {
  .modal-container {
    height: 75%;
  }

  .title {
    font-size: 26px;
  }

  .leaderboard-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .leaderboard-list {
    width: 80%;
    min-width: 400px;
    max-width: 500px;
  }

  .user-position-number {
    padding-left: 10px;
  }

  .time {
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  select {
    height: 35px;
    font-size: 14px;
  }

  input[type="number"] {
    width: 120px;
    height: 35px;
    font-size: 14px;
  }

  input[type="number"]::placeholder {
    font-size: 14px;
  }

  .time-button-container {
    margin-top: 20px;
  }

  button {
    width: 120px;
    height: 35px;
  }
}

@media (min-width: 1200px) {
  .leaderboard-time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 78%;
    padding-top: 25px;
  }

  .leaderboard-list-container {
    height: 90%;
    max-width: 500px;
  }

  .leaderboard-list {
    max-height: 650px;
  }

  .time-form {
    margin-top: 0;
    width: 400px;
    padding-bottom: 10px;
    border-bottom: #fabf2b 1px solid;
  }

  .user-select-container {
    margin-bottom: 35px;
  }
}

@media (min-width: 1300px) {
  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leaderboard-time-container {
    width: 100%;
    max-width: 1000px;
  }
}
